/*Initialize website colors as variables for reusability*/
:root {
  --base-color: white;
  --nav-color: #1E1E1E;
  --text-color: #424242;
  --light-dark: #CCCCCC;
}

/*Initialize dark mode colors*/
.darkmode {
  --base-color: #1E1E1E;
  --nav-color: #840029;
  --text-color: #DDDDDD;
  --light-dark: #DDDDDD;
}

html {
  background-color: #1E1E1E;
}

* {
  /*Remove default styling*/
  margin: 0;
}

body {
  /*Dark mode compatible background*/
  background-color: var(--base-color);
}

#theme-switch {
  /*Keep button position fixed at bottom right of screen*/
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;

  width: 60px;
  height: 60px;

  /*Make button circular*/
  border-radius: 50%;
  padding: 0;

  /*Centerize content within button*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: var(--base-color);
  width: 100%;

  /*Always stay fixed at the top of the screen:*/
  position: fixed;
  left: 0;
  top: 0;

  /*Determines stacking order (what appears on top of what):*/
  z-index: 99;
}

/*KPMUN logo in header section*/
.logo {
  width: 100px;
  height: auto;

  /*Center logo Horizontally*/
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 15px;
}

a {
  /*Remove Styling From Links*/
  text-decoration: none;

  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 12px;

  /*Set top/bottom margins to 0 and left/right margins to auto*/
  margin: 0 auto;

  padding-left: 5px;
  padding-right: 5px;
}

/*Set KPMUN icon as link to homepage*/
.home-link {
  /*Remove default padding for links*/
  padding: 0;
}

.nav-bar a {
  transition: 0.45s;
}

.nav-bar a:hover {
  color: #CCCCCC;
}

.nav-links {
  /*Center Nav Links*/
  text-align: center;

  margin-top: 15px;
  background-color: var(--nav-color);
  padding: 10px;
}

/*Nav Bar for wider screens */
@media(min-width: 750px) {
  .nav-bar {
    /*Arrange navbar elements horizontally*/
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-links {
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .logo {
    margin-left: 20px;
    margin-top: 0px;
  }

  .home-link {
    margin-left: 0px;
    margin-top: 0px;
  }

  a {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.background {
  /*Background Image Properties:*/
  background-image: url(../img/vancouver.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  height: 700px;
  width: 100%;
  margin-top: 150px;

  /*Center children divs horizontally and vertically*/
  display: flex;
  justify-content: center;
  /*Horizontally centers flex items*/
  align-items: center;
  /*Vertically centers flex items*/
}

.background p {
  color: white;
  font-size: 22px;
}

.background-content {
  width: 85%;
  padding-bottom: 20px;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.background-content hr {
  border: none;
  height: 2px;
  background-color: white;
  width: 100%;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Background section for wider screens*/
@media(min-width: 750px) {
  .background-content hr {
    width: 700px;
  }

  .background {
    margin-top: 100px;
  }
}

.letter {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

h2 {
  color: var(--text-color);
  font-weight: 100;
  margin-bottom: 30px;
  font-size: 26px;
}

p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: var(--light-dark);
}

/*Letter section for wider screens*/
@media(min-width: 750px) {
  .letter {
    font-size: 22px;
    width: 550px;
  }

  hr {
    width: 550px;
  }
}

.shortcuts {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.shortcut img {
  width: 280px;
  height: auto;
  border-radius: 10px;
  border: 4px solid var(--light-dark);
  /*Horizontally center image in its container*/
  display: block;
  margin: auto;
}

h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  color: var(--text-color);
  font-weight: 100;
  font-size: 22px;
}

.shortcut {
  margin-bottom: 60px;
}

.shortcut a {
  padding: 0;
}

.shortcut p {
  margin-bottom: 20px;
}

button {
  width: 180px;
  height: 60px;
  border-radius: 0;
  background-color: #840029;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.45s;
}

button:hover {
  background-color: #840029;
}

/*Shortcuts sections for wider screens*/
@media(min-width: 750px) {
  .shortcuts {
    /*Display the shortcut sections in grids*/
    display: grid;
    grid-template-columns: 380px 380px;
    justify-content: center;
    margin-bottom: 60px;
    width: 320px;
  }

  .shortcut p,
  .shortcut h3,
  .shortcut button {
    margin-left: 40px;
  }

  .shortcut img {
    width: 320px;
  }

  button:hover {
    background-color: #510019;
  }
}

@media(min-width: 1250px) {
  .shortcuts {
    grid-template-columns: 380px 380px 380px;
  }
}

.sub-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #424242;
  text-align: center;
}

h4 {
  font-weight: 100;
  font-size: 22px;
  color: white;

  /*Center text*/
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1E1E1E;
  text-align: center;
}

.footer img {
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: 20px;
  font-size: 16px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: 250px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header hr {
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header h1 {
  color: var(--text-color);
  font-weight: 100;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
}

.header p {
  margin-top: 50px;
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  background-image: url(../img/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid var(--light-dark);
  height: 350px;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  /*Center div within section horizontally and vertically*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .section {
  background-image: url(../img/background.webp);
}

.section2 .section {
  background-image: url(../img/background.webp);
}

.section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section p {
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
}

.sections a {
  padding: 0;
}

.sections {
  margin-bottom: 120px;
}

@media(min-width: 750px) {
  .header {
    margin-top: 200px;
  }

  .header p {
    width: 550px;
  }

  .section {
    width: 700px;
  }
}

.secretariat img {
  border-radius: 0px;
}

.venue {
  text-align: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.venue h1 {
  color: var(--text-color);
  font-weight: 100;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border: 1px solid #DDD;
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
}

th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid var(--light-dark);
  font-size: 18px;
}

/*Using the :nth-child() CSS pseudo class:*/
/*Make every other row of table a alternating color*/
tr:nth-child(even) {
  background-color: #84002950;
}

@media (min-width: 750px) {
  table {
    width: 700px;
  }
}

.speakers h1 {
  color: var(--text-color);
  font-weight: 100;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 60px;
}

.speakers {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.committee-buttons {
  text-align: center;
}

.committee-buttons button {
  width: 90%;
  max-width: 200px;
}

@media(min-width: 750px) {
  .committee-buttons {
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .committee-buttons button {
    width: 200px;
  }
}

@media(min-width: 750px) {
  .two-collumns .secretariat .shortcuts {
    display: grid;
    grid-template-columns: 380px 380px;
    justify-content: center;
  }
}

.registration {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: var(--text-color);
}

input {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: var(--text-color);
  padding-left: 6px;
  padding-right: 6px;
  background-color: var(--base-color);
  border: 1px solid var(--light-dark);

  /*Prevent unexpected sizing overflow*/
  box-sizing: border-box;
}

select {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: var(--text-color);
  height: 38px;
  width: 50%;
  background-color: var(--base-color);
  border: 1px solid var(--light-dark);
}


.birthday select {
  width: 30%;
}

.submit-button {
  width: 180px;
  height: 60px;
  border-radius: 0;
  background-color: #840029;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.45s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  width: 200px
}

.submit-button:hover {
  background-color: #840029;
}

.submit {
  text-align: center;
}

form hr {
  margin-top: 45px;
}

/*Slightly modify form layout for wider screens*/
@media(min-width: 750px) {
  .registration {
    width: 550px;
  }

  .name {
    display: grid;
    grid-template-columns: 270px 270px;
    gap: 10px;
  }

  .choice {
    display: grid;
    grid-template-columns: 270px 270px;
    gap: 10px;
  }

  .choice select {
    width: 100%;
  }

  .submit-button:hover {
    background-color: #510019;
  }
}
